# ML_PLATFORM DEMO QUERY

## Basic

#### Import Influx class to access pdboc InfluxDB

In [9]:
from influx import Influx

#### Import parser from dateutil to parse date strings in ISO format

In [10]:
from dateutil import parser as dparser

#### Execute a query with this very basic statement:

In [11]:
df = Influx().addField('HT_PI_2180.PV').asDataFrame()
df.head()

import "interpolate"
from(bucket: "datahub-test")
|> range(start: 1675741779, stop: 1675742379)
|> filter(fn: (r) => r._field == "phdpeer" or r._field == "HT_PI_2180.PV")
|> aggregateWindow(every: 30s, fn: mean, createEmpty: false)
|> interpolate.linear(every: 30s)

,result,table,_start,_stop,_time,_value,_field,_measurement
0,_result,0,2023-02-07 10:50:00+07:00,2023-02-07 10:50:00+07:00,2023-02-07 10:50:00+07:00,18.590333,HT_PI_2180.PV,phdpeer
1,_result,0,2023-02-07 10:50:30+07:00,2023-02-07 10:50:30+07:00,2023-02-07 10:50:30+07:00,18.579800,HT_PI_2180.PV,phdpeer
2,_result,0,2023-02-07 10:51:00+07:00,2023-02-07 10:51:00+07:00,2023-02-07 10:51:00+07:00,18.586000,HT_PI_2180.PV,phdpeer
3,_result,0,2023-02-07 10:51:30+07:00,2023-02-07 10:51:30+07:00,2023-02-07 10:51:30+07:00,18.587143,HT_PI_2180.PV,phdpeer
4,_result,0,2023-02-07 10:52:00+07:00,2023-02-07 10:52:00+07:00,2023-02-07 10:52:00+07:00,18.593000,HT_PI_2180.PV,phdpeer

## Advanced operations

#### 1. Use `addFields` to add a number of fields to query string

In [12]:
df = Influx().addFields(["HT_PI_2180.PV", "HT_LI_2180.PV", "HT_PDI_2180.PV"]).asDataFrame()
df.head()

import "interpolate"
from(bucket: "datahub-test")
|> range(start: 1675741779, stop: 1675742379)
|> filter(fn: (r) => r._field == "phdpeer" or r._field == "HT_PI_2180.PV" or r._field == "HT_LI_2180.PV" or r._field == "HT_PDI_2180.PV")
|> aggregateWindow(every: 30s, fn: mean, createEmpty: false)
|> interpolate.linear(every: 30s)

,result,table,_start,_stop,_time,_value,_field,_measurement
0,_result,0,2023-02-07 10:50:00+07:00,2023-02-07 10:50:00+07:00,2023-02-07 10:50:00+07:00,41.400000,HT_PDI_2180.PV,phdpeer
1,_result,0,2023-02-07 10:50:30+07:00,2023-02-07 10:50:30+07:00,2023-02-07 10:50:30+07:00,41.678462,HT_PDI_2180.PV,phdpeer
2,_result,0,2023-02-07 10:51:00+07:00,2023-02-07 10:51:00+07:00,2023-02-07 10:51:00+07:00,40.737692,HT_PDI_2180.PV,phdpeer
3,_result,0,2023-02-07 10:51:30+07:00,2023-02-07 10:51:30+07:00,2023-02-07 10:51:30+07:00,40.801999,HT_PDI_2180.PV,phdpeer
4,_result,0,2023-02-07 10:52:00+07:00,2023-02-07 10:52:00+07:00,2023-02-07 10:52:00+07:00,40.824166,HT_PDI_2180.PV,phdpeer

#### 2. Use `setStart` to set the start time of the query
If not set, the default start time is __10 minutes ago__
<br>
<mark>Notice that the time is in ISO format</mark> use `dparser.isoparse` to parse the string

In [13]:
df = Influx().addField("HT_PI_2180.PV").setStart(dparser.isoparse("2023-02-05T00:00:00+07:00")).asDataFrame()
df.head()

import "interpolate"
from(bucket: "datahub-test")
|> range(start: 1675530000, stop: 1675742380)
|> filter(fn: (r) => r._field == "phdpeer" or r._field == "HT_PI_2180.PV")
|> aggregateWindow(every: 30s, fn: mean, createEmpty: false)
|> interpolate.linear(every: 30s)

,result,table,_start,_stop,_time,_value,_field,_measurement
0,_result,0,2023-02-05 00:00:30+07:00,2023-02-05 00:00:30+07:00,2023-02-05 00:00:30+07:00,18.580375,HT_PI_2180.PV,phdpeer
1,_result,0,2023-02-05 00:01:00+07:00,2023-02-05 00:01:00+07:00,2023-02-05 00:01:00+07:00,18.588222,HT_PI_2180.PV,phdpeer
2,_result,0,2023-02-05 00:01:30+07:00,2023-02-05 00:01:30+07:00,2023-02-05 00:01:30+07:00,18.594000,HT_PI_2180.PV,phdpeer
3,_result,0,2023-02-05 00:02:00+07:00,2023-02-05 00:02:00+07:00,2023-02-05 00:02:00+07:00,18.589375,HT_PI_2180.PV,phdpeer
4,_result,0,2023-02-05 00:02:30+07:00,2023-02-05 00:02:30+07:00,2023-02-05 00:02:30+07:00,18.589875,HT_PI_2180.PV,phdpeer

#### 3. Use `setStop` to set the stop time of the query, similar to `setStart`
If not set, the default stop time is __now__

In [14]:
df = Influx().addField("HT_PI_2180.PV").setStart(dparser.isoparse("2023-02-05T00:00:00+07:00")).setStop(dparser.isoparse("2023-02-06T00:00:00+07:00")).asDataFrame()
df.head()

import "interpolate"
from(bucket: "datahub-test")
|> range(start: 1675530000, stop: 1675616400)
|> filter(fn: (r) => r._field == "phdpeer" or r._field == "HT_PI_2180.PV")
|> aggregateWindow(every: 30s, fn: mean, createEmpty: false)
|> interpolate.linear(every: 30s)

,result,table,_start,_stop,_time,_value,_field,_measurement
0,_result,0,2023-02-05 00:00:30+07:00,2023-02-05 00:00:30+07:00,2023-02-05 00:00:30+07:00,18.580375,HT_PI_2180.PV,phdpeer
1,_result,0,2023-02-05 00:01:00+07:00,2023-02-05 00:01:00+07:00,2023-02-05 00:01:00+07:00,18.588222,HT_PI_2180.PV,phdpeer
2,_result,0,2023-02-05 00:01:30+07:00,2023-02-05 00:01:30+07:00,2023-02-05 00:01:30+07:00,18.594000,HT_PI_2180.PV,phdpeer
3,_result,0,2023-02-05 00:02:00+07:00,2023-02-05 00:02:00+07:00,2023-02-05 00:02:00+07:00,18.589375,HT_PI_2180.PV,phdpeer
4,_result,0,2023-02-05 00:02:30+07:00,2023-02-05 00:02:30+07:00,2023-02-05 00:02:30+07:00,18.589875,HT_PI_2180.PV,phdpeer

#### 4. Use `setRate` to set the sampling rate per window of the query
If not set, the default rate is __30s__

In [8]:
df = Influx().addField("HT_PI_2180.PV").setStart(dparser.isoparse("2023-02-05T00:00:00+07:00")).setStop(dparser.isoparse("2023-02-06T00:00:00+07:00")).setRate("5s").asDataFrame()
df.head()

import "interpolate"
from(bucket: "datahub-test")
|> range(start: 1675530000, stop: 1675616400)
|> filter(fn: (r) => r._field == "phdpeer" or r._field == "HT_PI_2180.PV")
|> aggregateWindow(every: 5s, fn: mean, createEmpty: false)
|> interpolate.linear(every: 5s)

,result,table,_start,_stop,_time,_value,_field,_measurement
0,_result,0,2023-02-05 00:00:05+07:00,2023-02-05 00:00:05+07:00,2023-02-05 00:00:05+07:00,18.57050,HT_PI_2180.PV,phdpeer
1,_result,0,2023-02-05 00:00:10+07:00,2023-02-05 00:00:10+07:00,2023-02-05 00:00:10+07:00,18.57400,HT_PI_2180.PV,phdpeer
2,_result,0,2023-02-05 00:00:15+07:00,2023-02-05 00:00:15+07:00,2023-02-05 00:00:15+07:00,18.58300,HT_PI_2180.PV,phdpeer
3,_result,0,2023-02-05 00:00:20+07:00,2023-02-05 00:00:20+07:00,2023-02-05 00:00:20+07:00,18.58575,HT_PI_2180.PV,phdpeer
4,_result,0,2023-02-05 00:00:25+07:00,2023-02-05 00:00:25+07:00,2023-02-05 00:00:25+07:00,18.58850,HT_PI_2180.PV,phdpeer